In [52]:
# Example: reuse your existing OpenAI setup
from openai import OpenAI

# Point to the local server
client = OpenAI(base_url="http://localhost:1234/v1", api_key="lm-studio")

completion = client.chat.completions.create(
  model="lmstudio-community/Meta-Llama-3.1-8B-Instruct-GGUF",
  messages=[
    {"role": "user", "content": "why is the sky blue?"}
  ],
  temperature=0.7,
)

print(completion.choices[0].message)

Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content="The sky appears blue to us because of a phenomenon called Rayleigh scattering, which occurs when sunlight interacts with the tiny molecules of gases in the Earth's atmosphere.\n\nHere's what happens:\n\n1. Sunlight enters our atmosphere and consists of a broad spectrum of colors, including all the colors of the visible light.\n2. When this light encounters the small molecules of gases like nitrogen (N2) and oxygen (O2), it scatters in all directions. However, shorter (blue) wavelengths are scattered more than longer (red) wavelengths due to their smaller size.\n\nThis is known as Rayleigh scattering, named after Lord Rayleigh, who first described this phenomenon in the late 19th century.\n\n3. As a result of this scattering, the blue light is dispersed throughout the atmosphere, making it visible from our vantage point on Earth.\n4. When we look up at the sky, our eyes see the scattered blue light and perceive it as a blue color.\n\nIt's worth noting that during sunrise and sunset, the sky can appear more red or orange because the sunlight has to travel through more of the Earth's atmosphere to reach us, scattering away even more of the shorter wavelengths (like blue) and allowing the longer wavelengths (like red) to dominate our view.\n\nI hope this explanation helps you understand why the sky is blue!", role='assistant', function_call=None, tool_calls=None))

In [55]:
# openAI setting
from dotenv import load_dotenv
import os

load_dotenv()

API_KEY = os.environ.get('API_KEY')

def open_ai_query(query, system = ""):
    client = OpenAI()

    completion = client.chat.completions.create(
    model="gpt-4o-mini",
    messages=[
        {
            "role": "system", 
            "content": system
        }, 
        {
            "role": "user", 
            "content": query
        }
    ]
    )
    return completion.choices[0].message.content

In [44]:
# prompt Engineering
query = "What are the best places in Korea?"

print(open_ai_query(query))

ChatCompletionMessage(content="South Korea is rich in history, culture, and natural beauty, offering a wide range of attractions. Here are some of the best places to visit:\n\n1. **Seoul**:\n   - **Gyeongbokgung Palace**: The largest of the Five Grand Palaces, it showcases traditional Korean architecture.\n   - **Bukchon Hanok Village**: A picturesque area with traditional Korean houses (hanoks).\n   - **N Seoul Tower**: Offers panoramic views of the city.\n   - **Myeongdong**: A vibrant shopping district famous for cosmetics, street food, and fashion.\n\n2. **Busan**:\n   - **Haeundae Beach**: One of Korea's most famous beaches, great for sunbathing and water sports.\n   - **Gamcheon Culture Village**: Known for its colorful houses and artistic vibe.\n   - **Jagalchi Fish Market**: Experience fresh seafood and local delicacies.\n\n3. **Gyeongju**:\n   - **Bulguksa Temple**: A UNESCO World Heritage Site showcasing beautiful architecture.\n   - **Seokguram Grotto**: Another UNESCO site with a stunning stone statue of Buddha.\n   - **Tumuli Park**: Home to ancient royal tombs.\n\n4. **Jeju Island**:\n   - **Hallasan Mountain**: The highest mountain in South Korea, popular for hiking.\n   - **Seongsan Ilchulbong (Sunrise Peak)**: A volcanic cone offering breathtaking sunrise views.\n   - **Manjanggul Cave**: One of the longest lava tubes in the world.\n\n5. **Incheon**:\n   - **Incheon Chinatown**: The first and largest Chinatown in Korea, filled with shops and delicious food.\n   - **Songdo International Business District**: A modern urban area with parks and innovative architecture.\n\n6. **Suwon**:\n   - **Hwaseong Fortress**: A UNESCO World Heritage site with impressive walls and gates.\n\n7. **Sokcho**:\n   - **Seoraksan National Park**: Known for its stunning mountain landscapes and hiking trails.\n\n8. **Andong**:\n   - **Hahoe Folk Village**: A preserved village that showcases traditional Korean culture and architecture.\n\n9. **Jeonju**:\n   - **Jeonju Hanok Village**: Offers a glimpse of traditional Korean homes and famous for its bibimbap.\n\n10. **Gangneung**:\n    - **Gyeongpo Beach**: A beautiful beach and popular seaside destination.\n\nThese are just a few highlights, but South Korea has much more to offer in terms of attractions, food, and experiences.", role='assistant', function_call=None, tool_calls=None)

In [45]:
# Few shot engineering - 1
system = """ 
Translate the following words to Korean:
1. book: 책
2. cheese: 치즈
3. water: 물
4. bread: 빵
5. apple: 사과
"""
query = """ 
Translate the word "dog":
"""


print(open_ai_query(query=query, system=system))

ChatCompletionMessage(content='The word "dog" in Korean is "개" (gae).', role='assistant', function_call=None, tool_calls=None)

In [49]:
# Few shot engineering - 2
system=""" 
Determine the sentiment (positive or negative) of the following movie reviews:
1. "The movie was fantastic and had great acting.": positive
2. "I hated the film; it was a complete waste of time.": negative
3. "An excellent film that kept me on the edge of my seat.": positive
4. "Terrible plot and horrible acting.": negative
5. "A wonderful experience with stunning visuals.": positive
"""

query = "The storyline was dull and uninspiring. Sentiment:"


print(open_ai_query(query=query, system=system))

ChatCompletionMessage(content='negative', role='assistant', function_call=None, tool_calls=None)

In [57]:
# Few shot engineering - 3
system=""" 
Convert the following natural language requests into SQL queries:
1. "Show all employees with a salary greater than $50,000.": SELECT * FROM employees WHERE salary > 50000;
2. "List all products that are out of stock.": SELECT * FROM products WHERE stock = 0;
3. "Find the names of students who scored above 90 in math.": SELECT name FROM students WHERE math_score > 90;
4. "Retrieve the details of orders placed in the last 30 days.": SELECT * FROM orders WHERE order_date >= DATE_SUB(CURDATE(), INTERVAL 30 DAY);
5. "Get the count of customers from each city.": SELECT city, COUNT(*) FROM customers GROUP BY city;
"""

query = """ 
Find the average salary of employees in the marketing department.
"""

print(open_ai_query(query=query, system=system))

```sql
SELECT AVG(salary) FROM employees WHERE department = 'Marketing';
```

In [56]:
# Simple - 1

query = "Solve the following problem step-by-step: 23 + 47"

print(open_ai_query(query=query))

To solve the problem \(23 + 47\), we'll follow these steps:

1. **Align the Numbers**: Write the numbers one below the other, aligning them by their rightmost digits.

    ```
      23
    + 47
    ```

2. **Add the Units Column** (rightmost column):
   - The digits in this column are \(3\) (from 23) and \(7\) (from 47).
   - Calculate \(3 + 7 = 10\).
   - Write down \(0\) below the line and carry over \(1\) to the next column.

    ```
      23
    + 47
    -----
      0 (write down 0, carry over 1)
    ```

3. **Add the Tens Column** (next column to the left):
   - The digits in this column are \(2\) (from 23) and \(4\) (from 47), plus the carry over \(1\).
   - Calculate \(2 + 4 + 1 = 7\).

    ```
      23
    + 47
    -----
     70
    ```

4. **Combine the totals**: The sum of \(23 + 47 = 70\).

Therefore, the final answer is **70**.

In [63]:
# Simple - 2
query = "Solve the following problem step-by-step: 123 - 58"

print(open_ai_query(query=query))

The message describes a common issue that likely has a known solution and can be addressed through basic troubleshooting steps. Tier 1 Support